* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  margin: 0;
  /* background: linear-gradient(to top, #fddb92 0%, #d1fdff 100%); */
  /* background: linear-gradient(to top, #00223e, #4a548c, #d5a0a7, #ffd1b9, #9cd4ff); */
    background: linear-gradient(to top, #fdc692 0%, #c6eefd 100%);


}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  max-width: 600px; /* Adjust based on your preference */
  padding: 20px; /* Adjust spacing */
  box-sizing: border-box;
}

.header, .footer {
  text-align: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.sublogo {
  font-size: 16px;
  color: gray;
}

.content img {
  max-height: 50vh; /* Adjust image size to ensure it fits within the viewport */
  max-width: 100%; /* Make image responsive */
  object-fit: contain; /* Keep aspect ratio */
}

.link, .link1 {
  display: block; /* Ensure links are on their own line */
  margin: 10px 0; /* Space out links */
  text-decoration: none;
  color: blue;
}

.link1 {
  color: darkgreen;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .logo, .sublogo {
      font-size: 90%; /* Reduce text size on smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .content img {
      max-height: 30vh; /* Further adjust image size for very small devices */
  }
}
